:root {
  --primary-color: #1A1A2E;
  --secondary-color: #E64A19;
  --background-color: #FFFAF0;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--background-color);
}

.container{
  display: grid;
  
  grid-template-rows: fit-content(100%);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
        "header header header empty1"
        "social empty2 empty3 language"
        "experience experience experience empty4"
        "technologies technologies technologies technologies";
        
}

.headerContainer{
  grid-area: header;
  
}

.socialContainer{
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.languagesContainer{
  grid-area: language;
  
}

.experiencesContainer{
  grid-area: experience;
  padding: 30px 30px;
}

.technologiesContainer{
  grid-area: technologies;
}







